* {
  margin: 0;
  padding: 0;
}

div {
  width: 33.33%;
}

.main1 {
  background-color: aqua;
  /* position: ; */
  right: 0;

  /* lrtb */
  /* margin: 20px; */
  /* margin: t-b l-r; */
  /* t-r-b-l */
  padding: 30px;
  border: 25px double red;
}

.main2 {
  width: 100%;
  background-color: black;

  height: 100vh;
}

.main3 {
  background-color: red;
  padding: 30px;
  height: 100vh;
}

.main4 {
  background-color: green;
  padding: 30px;
}
